.container {
  max-width: var(--content-width);
  margin: 0 auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);

  // for testing
  min-height: 50rem;
  margin-top: 8rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
  font-size: 1.4rem;
  background-color: #fff;
  border-bottom: 1px solid var(--color-grey-light-2);
}

.content {
  display: flex;
}

.sidebar {
  display: flex;
  flex: 0 0 18%;
  flex-direction: column;
  justify-content: space-between;

  background-color: var(--color-grey-dark-1);
}

.hotel-view {
  flex: 1;
  background-color: #fff;

  // temporary for test
  height: 80rem;
}
